.leftBar {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #fff;
  top: 55px;
  height: calc(100vh - 56px);
  position: sticky;
  overflow-y: scroll;


  .container {
    padding: 20px;
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      span {
        margin-top: 3px;
        color: grey;
        font-weight: 500;
        font-family: "Roboto";
        font-size: 10px;
      }
      .user {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 150px;
        border-radius: 50px;
        border: 1px solid black;
        gap: 10px;

        p {
          font-family: "Roboto";
          font-weight: 600;
        }
      }
      .item {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          height: 25px;
          width: 25px;
        }
        span {
          color: black;
        }
      }
    }
  }
}
